@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p, li {
    font-family: 'Noto Sans', sans-serif;
}

.content {
    width: 90%;
    margin: auto;
    padding-top: 80px;
}

.content p {
    text-align: justify;
}

.content .quote {
    border-left: 8px solid orange;
    background-color: #dcdcdc;
    padding: 16px 32px;
    margin: 8px 0;
    border-radius: 0 8px 8px 0;
}

.content .quote .msg {
    color: #8a8a8a;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin-bottom: 8px;
}

.content .quote .author {
    color: #8a8a8a;
    opacity: 0.5;
    text-decoration: none;
    transition: opacity .25s;
    font-size: 14px;
    width: 100%;
    text-align: right;
    display: block;
}

.content .quote .author:hover {
    opacity: 1;
    text-decoration: underline;
}

.content .projects {
    margin: 32px 0;
}

.content .projects ul {
    list-style: none;
}

.content .projects ul li {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    line-height: 64px;
    font-size: 24px;
    color: gray;
    cursor: pointer;
    padding: 16px;
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
    transition: all .2s;
}

.content .projects ul li i {
    font-size: 24px;
}

.content .projects ul li p {
    margin-left: 8px;
    text-transform: none;
    display: inline-block;
}

.content .projects ul li:hover {
    color: black;
    background-color: #dcdcdc;
}

.content .projects ul li:hover .controls a {
    opacity: .5;
}

.content .projects ul li .controls a {
    display: inline-block;
    background-color: skyblue;
    border-radius: 8px;
    color: white;
    line-height: 48px;
    padding: 0 12px;
    border-bottom: 4px solid #4d8ca5;
    text-decoration: none;
    opacity: 0;
    transition: opacity .2s;
}

.content .projects ul li .controls a:hover {
    opacity: 1;
}

@media (max-width: 800px) {
    .content .projects ul li {
        font-size: 21px;
    }

    .content .projects ul li p {
        display: none;
    }

    .content .projects ul li .controls a {
        padding: 8px 12px;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .content .projects ul li {
        font-size: 18px;
    }

    .content .projects ul li p {
        display: none;
    }
}