.nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #2b2b2b;
    color: white;
    padding: 0 16px;
    z-index: 1000;
}

.nav .nav-title {
    line-height: 64px;
    letter-spacing: 3px;
    font-size: 32px;
    font-weight: lighter;
    color: lightgray;
    cursor: pointer;
    transition: color .25;
}

.nav .nav-title:hover {
    color: white;
}

.nav label {
    display: none;
    cursor: pointer;
    padding: 0 16px;
}

.nav label i {
    line-height: 64px;
    font-size: 24px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    display: inline-block;
    line-height: 64px;
    color: lightgray;
    text-decoration: none;
    cursor: pointer;
    margin: 0 8px;
    font-size: 18px;
    transition: color .15s;
}

.nav ul li a i {
    display: inline-block;
    line-height: 64px;
}

.nav ul li a:hover {
    color: white
}

.nav ul li .item-text {
    margin: 0;
    margin-left: 4px;
    display: none;
}

@media (max-width: 500px) {
    #main-menu-check:checked ~ .nav ul {
        height: 200px;
    }

    .nav label {
        display: block;
    }

    .nav ul {
        position: absolute;
        display: block;
        top: 64px;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #2b2b2b;
        overflow: hidden;
        transition: all .2s;
    }

    .nav ul li {
        display: block;
        text-align: center;
    }

    .nav ul li a {
        width: 100%;
    }

    .nav ul li .item-text {
        display: inline-block;
    }
}