@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p, li {
    font-family: 'Noto Sans', sans-serif;
}

.content {
    width: 90%;
    margin: auto;
    padding-top: 80px;
}

.content .big-title {
    border-bottom: 2px solid black;
    line-height: 32px;
    margin-bottom: 8px;
}

.content .small-title {
    border-bottom: 1px solid gray;
    line-height: 24px;
    margin-bottom: 8px;
}

.content #list {
    list-style: none;
}

.content #list li {
    padding: 16px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .15s;
}

.content #list li:hover {
    background-color: #d0d0d0;
}